<!DOCTYPE HTML>
<html>
<head>
    <%- include("Shared/PageMeta.ejs") %>
    <%- include("Shared/CssPartial.ejs") %>
</head>
<body>
<%- include("Shared/Header.ejs") %>
<div class="container">
    <main role="main" class="pb-3">
        <%- body%>
    </main>
</div>
<%- include("Shared/Footer.ejs") %>
<%- include("Shared/Scripts.ejs") %>

</body>
</html>